<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <ul>
            <% links.each do |link| %>
                
            <li><a class="main-link" href="/<%= link %>"><%= link.upcase %></a></li>

            <% end %>
        </ul>
    
    </div>
</div>
