<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site</title>
        <%= include_css('lib/bootstrap', 'lib/bootstrap-theme', 'main') %>
        <%= include_js('lib/jquery', 'lib/bootstrap') %>
    </head>
    <body>
        <div class="container main-container">
            <%= yield %>
        </div>
    </body>
</html>
