<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PUT CUBE NOW</title>
        <%= include_css("put_cube") %>
        <%= include_js("lib/three", "lib/PointerLockControls") %>
    </head>
    <body>
        <%= yield %>
    </body>
</html>
