<%= erb :'/elements/header', :locals => { :text => "Heyyyy" } %>

<div class="row">
    <div class="col-md-12">

        <a class="main-link" href="/put_cube">- PUT CUBE NOW.</a>
    
    </div>
</div>
