<div class="row">
    <div class="col-md-12">
      <ul>
        <li><a href="/put_cube">PUT CUBE NOW.</a></li>
        <li><a href="/oscillate">OSCILLATE. FOR FREE.</a></li>
      </ul>
    </div>
</div>
