<div class="container" id="master">
  <%= erb :'/elements/header', :layout => false %>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><a href="/put_cube">Put Cube.</a></li>
        <li><a href="/oscillate">Oscillate.</a></li>
        <li><a href="/video">Video.</a></li>
      </ul>
    </div>
  </div>
</div>