<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title><%= @title || "Heeyyy" %></title>
    <%= include_css(@css) %>
    <%= include_js(@js) %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
