<div class="row">
  <div class="col-md-1">
    <% 12.times do |i| %>
      <a data-frequency=<%= frequency(51 + i) %> class="btn <%= key_color(51 + i) %> btn-block" href="#">
        <%= key_name(51 + i) %>
      </a>
    <% end %>
  </div>
  <div class="col-md-11">
  </div>
</div>

<%= include_js('oscillate') %>