<div class="row">
  <div class="col-md-1">
    <% 10.times do |i| %>
      <a href="#" class="btn btn-info btn-block" data-frequency=<%= 100 * i %>><%= 100 * i %></a>
    <% end %>
  </div>
  <div class="col-md-11">
  </div>
</div>

<%= include_js('oscillate') %>