<div class="container" id="master">
  <%= erb :'/elements/header' %>
  <div class="row">
    <div class="col-md-12" id="put-cube-container">
    </div>
  </div>
</div>

<%= include_js(['put_cube']) %>