<div class="container" id="master">
  <%= erb :'/elements/header' %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id="put_cube_container">
        </div>
      </div>
    </div>
  </div>
</div>

<%= include_js(['put_cube']) %>