<div class="container" id="master">
  <%= erb :'/elements/header', :layout => false %>
  <div class="row">
    <div class="col-md-12" id="video-container">
      <video autoplay></video>
    </div>
  </div>
</div>

<%= include_js(['video']) %>