<div class="container" id="master">
  <%= erb :'/elements/header', :layout => false %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body" id="video-container">
          <video autoplay></video>
        </div>
      </div>
    </div>
  </div>
</div>

<%= include_js(['video']) %>