<div class="container" id="master">
  <%= erb :'/elements/header', :layout => false %>
  <div class="row">
    <div class="col-md-12">
      <video id="video" autoplay></video>
      <canvas id="canvas"></canvas>
    </div>
  </div>
</div>

<%= include_js(['video']) %>