<div class="container" id="master">
  <%= erb :'/elements/header', :layout => false %>
  <div class="row">
    <div class="col-md-12 text-center">
      <canvas id="output"></canvas>
    </div>
  </div>
</div>
<video id="video" autoplay></video>

<%= include_js(['video']) %>