<div class="row">
  <div class="col-md-1">
    <% 12.times do |i| %>
      <% key = 40 + i %> 
      <a data-frequency=<%= frequency(key) %> class="btn <%= key_color(key) %> btn-block" href="#">
        <%= key_name(key) %>
      </a>
    <% end %>
  </div>
  <div class="col-md-11">
  </div>
</div>

<%= include_js('oscillate') %>