<div class="row">
  <div class="col-md-12 text-center">
    <video autoplay></video>
    <span class="help-block">if you just stumbled onto here, don't worry, nothing is being recorded.</span>
  </div>
</div>

<script src="/js/video.js"></script>